extends layout

block content
    h1= title
    a(href="/new")
        button New Message

    div
        each val in messages
            div
                p #{val.user}: #{val.text}
                p= val.added
